@model ourSite.Models.StudentsListModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Age
            </td>

            <td>
                @Html.ActionLink("Edit student", "Edit", new { item.id }) |
                @Html.ActionLink("Details", "Details", new { item.id }) |
                <a href="javascript:confirm('Do you want do delete it?')" />
                
                @Html.ActionLink("Delete", "Delete", new { item.id })
            </td>
        </tr>
    }

</table>
